name: CI Godot Tests

on:
  push:
    branches:
      - DanielPruebasUnitarias # Cambia por el nombre real de tu branch
  pull_request:
    branches:
      - DanielPruebasUnitarias

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Instala Godot y dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y wget unzip xvfb
          wget -O godot.zip "https://downloads.godotengine.org/?version=4.5&flavor=stable&slug=linux.x86_64.zip&platform=linux.64"
          unzip godot.zip -d godot
          chmod +x godot/Godot_v4.5-stable_linux.x86_64
      
      - name: Pre importar clases
        run: |
          cd avatars-vs-rooks-MainGame
          xvfb-run ../godot/Godot_v4.5-stable_linux.x86_64 --headless --import

      - name: Ejecuta tests GUT
        run: |
          cd avatars-vs-rooks-MainGame
          xvfb-run ../godot/Godot_v4.5-stable_linux.x86_64 \
          --headless \
          --quit \
          --script addons/gut/gut_cmdln.gd \
          -gexit \
          -gdir=res://